* {
    box-sizing: border-box;
    cursor: pointer;
    scroll-behavior: smooth;
}


html,body {
    /* height: 100vh; */
}

body {
    margin: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #66ffd1;
    background: linear-gradient(to bottom, #121212, #1f1f1f);
    line-height: 1.6;
    overflow-x: hidden;
}

/* Top navigation */

header {
    position: sticky;
    top: 0;
    z-index: 1000;
}

.nav {
    backdrop-filter: blur(10px);
    background: linear-gradient(to right, #121212, #1f1f1f);
    border-bottom: 2px solid #c29d5f;
    position: sticky;
    top: 0;
}   

.nav-inner{
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 20px;

}

.brand {
    display: flex;
    align-items: center;
    gap: 12px;
    text-decoration: none;
    color: #f5f5f5;
    text-shadow: 5px 5px 6px #c29d5f;
    font-size: 25px;
    font-family: Orbitron, sans-serif;
    font-weight: 700;
}

.brand:hover, .brand:active {
    color: #d4af37;
}

.nav-links {
    color: #f5f5f5;
    gap: 15px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

.nav-links a{
    color: #f5f5f5;
    margin-left: 18px;
    text-decoration: none;
}

.nav-links a:hover, .nav-links a:active {
    color: #d4af37;
}

/* Sections */
section {
    max-width: 1100px;
    margin: 0 auto;
    padding: 80px 20px;
}


/* Hero */
.hero {
    min-height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px 40px;
    gap: 40px;
    position: relative;
    z-index: 1;
    /* background-color: #1a1a1a; */
    color: #121212;
    background-image: url(hero.gif); 
    background-size: cover;
    margin-top: 20px;
    transition: all 0.5s ;
    border: 1px solid #d4af37;
    
}

.hero:hover {
    box-shadow: 0 0 8px 3px rgba(255, 255, 255, 0.8), 0 0 15px 6px rgba(255, 255, 255, 0.4);
}

.hero div:first-child {
    flex: 1;
    max-width: 600px;
    
    
      
}

.hero div:first-child h1 {
    color: #FFFFFF;
    -webkit-text-stroke: 2px #000000;
    font-weight: 700;
    text-align: center;
    text-shadow: 0 0 10px #facc15, 0 0 20px #facc15;
    font-family: "Oswald", sans-serif;
    z-index: 1;
}

.hero-info {
    text-align: center;
    color: #fb923c;
    
    font-size: 2rem;
    font-family: 'Cormorant Garamond', serif;
    z-index: 1;

}

.shopbtn button {
    padding: 10px 15px;
    background: linear-gradient(135deg, #f97316, #facc15);
    font-family: 'Inter', sans-serif;
    border-radius: 10px;
    border: 1px solid #FFFFFF;
    font-weight: 700;
    color: #ffffff;
    text-shadow: 5px 1px 2px rgba(0,0,0,0.4);
    transition: all 1s ease;
    margin-top: 8px;
    box-shadow: 0 0 10px #dc143c;
    z-index: 1;
    
}

.shopbtn button:hover, .shopbtn button:active {
    background: linear-gradient(315deg, #f97316, #facc15);
    transform: translateY(-5px);
}

/* Media queries for responsiveness */

@media (max-width: 1100px) {
    .hero {
        flex-direction: column;
        text-align: center;
        padding: 60px 20px;
        width: 70vw;
    }

    .hero div:first-child {
        max-width: 100%;

    }  
}

@media (max-width: 700px) {
    .nav-links{
        display: none;
    }
    
    .brand span {
        font-size: 4rem;
    }

    .nav-inner {
        justify-content: center;
        
    }
    
    .hero {
        flex-direction: column;
        text-align: center;
        padding: 60px 20px;
        width: 70vw;
    }

    .hero div:first-child {
        max-width: 100%;

    } 

}

@media (max-width: 500px) {
    .hero {
        padding: 40px 15px;
        width: 80vw;
    }

    .hero h1 {
        font-size: 28px;
    }

    .hero p{
        font-size: 14px;
    }

    .kicker.center {
        font-size: 2rem !important;
    }

    h3 {
        font-size: 1.2rem !important;
    }
    
}

h1 {
    font-family: sans-serif;
    font-size: 4rem;
    line-height: 1.05;
    margin: 14px 0 14px;
}

/* Categories */

.kicker.center {
    text-align: center;
    color: transparent;
    font-size: 4rem;
    font-weight: 700;
    font-family: "Zalando Sans SemiExpanded", sans-serif;
    -webkit-text-stroke: 2px #f5f5f5;
}


#categories h3{
    text-align: center;
    
}

h3 {
    text-align: center;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #f5f5f5;
    
}

.grid {
    display: grid;
    gap: 18px;
    grid-template-columns: repeat(3,1fr);
}

.grid-card {
    position: relative;
    overflow: hidden;
    border-radius: 16px;
    border: 1px solid #d4af37;
    background: linear-gradient(135deg, #0f0f0f, #1a1a1a);
    padding: 18px;
    transition: all 0.5s ease;
    color: #f5f5f5;
    
}

.grid-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 8px 3px rgba(255, 255, 255, 0.8), 0 0 15px 6px rgba(255, 255, 255, 0.4);
}

.grid-card h4 {
    margin: 12px 0 6px;
    font-family: sans-serif;
    text-decoration: underline;
}

.grid-card p{
    margin: 0;
    color: #ffffff;
}

.grid-card img {
    flex-grow: 1;
}

#shop h3 {
    text-align: center;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
    color: #f5f5f5;
}

.cart {
    background: linear-gradient(135deg, #f97316, #facc15);
    color: #ffffff;
    padding: 14px 28px;
    border: none;
    border-radius: 8px;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 10px rgba(249, 115, 22, 0.2);
    margin-top: 10px;
    margin-bottom: 10px;
}

.cart:hover {
    background: linear-gradient(135deg, #fb923c, #fde047);
    box-shadow: 0 0 12px rgba(255, 215, 0, 0.25);
    transform: scale(1.03);
}

.cart:active {
    transform: scale(0.97);
    box-shadow: none;
}



.btn {
    appearance: none;
    border: 1px solid #f5f5f5;
    background-color: #0f0f0f;
    color: #FFFFFF;
    padding: 12px 16px;
    border-radius: 14px;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s;
}

.btn::placeholder {
    color: #555555;
}

.btn:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 24px rgba(122, 162, 255, .3);
}

#contact, #shop {
    margin-top: -40px;
}

@media (max-width: 1050px) {
    .grid {
        display: flex;
        flex-direction: column;
    }
}

footer {
    background-color: #121212;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f5f5f5;
}

.small {
    font-size: 1.5rem;
    letter-spacing: 0.3px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

footer a{
    text-decoration: none;
    color: #f97316;
}

.sr-only {
    color: #4fd9b8;
}

.senddiv {
    margin-top: 5px;
    display: flex;
    
    align-items: center;
    justify-content: center;
}

.send {
    background-color: #66ffd1;
    color: #121212;
    padding: 10px 16px;
    font-weight: 600;
    font-size: 1.4rem;
    flex-grow: 1;
    border-radius: 12px;
    transition: all .3s ease;
}

.send:hover {
    transform: scale(1.05);
}

ul {
    list-style: none;
}

#cart-list {
    list-style: upper-roman;
}

.billClass {
 color: #22c55e;
 font-size: 1.4rem;
 
}

.itemsClass {
    color: #86efac;
    font-size: 1.4rem;
    
}

li {
    font-size: 1.1rem;
    font-weight: normal;
    border: 1px solid #FFFFFF;
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding: 1.1rem;
    margin-bottom: 8px;
    transition: all 0.3s;
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    width: 100% !important;
    max-width: 800px !important;
} 

li:hover {
    transform: scale(1.05);
    cursor: pointer;
}

#cart {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#clearCart {
    padding: 1.2rem;
    color: #f5f5f5;
    background: linear-gradient(135deg, #f87171, #dc2626);
    border-radius: 14px;
    border: 1px solid #f5f5f5;
    font-size: 1.5rem;
    font-weight: 600;
    transition: all 0.3s;
}

#clearCart:hover {
    transform: scale(1.05); 
}

#clearCart:active {
    transform: scale(1);
}

.img-js {
    border-radius: 14px;
    border: 2px solid #f97316;
}

.buttons {
    display: flex;
    gap: 1rem;
}

#checkout {
    padding: 1.2rem;
    color: #f5f5f5;
    background: #28a745;
    border-radius: 14px;
    border: 1px solid #f5f5f5;
    font-size: 1.5rem;
    font-weight: 600;
    transition: all 0.3s;
}

#checkout:hover {
    transform: translateY(-5px);
    border: 1px solid rgb(10, 71, 10);
}

